<ul class="message_data">
    <li class="right clearfix">
        <div class="message">
            <span>Hi Aiden, how are you?<br> How is the project coming along?</span>
        </div>
        <span class="data_time">10:12 AM, Today</span>
    </li>
    <li class="left clearfix">
        <div class="message">
            <span>Are we meeting today?</span>
        </div>
        <span class="data_time">10:12 AM, Today</span>
    </li>
    <li class="right clearfix">
        <div class="message">
            <span>How is the project coming along?</span>
        </div>
        <span class="data_time">10:12 AM, Today</span>
    </li>
    <li class="left clearfix">
        <div class="message">
            <span>Project has been already finished and I have<br> results to show
                you.</span>
        </div>
        <span class="data_time">10:16 AM, Today</span>
    </li>
    <li class="right clearfix">
        <div class="message">
            <span>Hi Aiden, how are you?<br> How is the project coming along?</span>
        </div>
        <span class="data_time">10:12 AM, Today</span>
    </li>
    <li class="left clearfix">
        <div class="message">
            <span>Are we meeting today?</span>
        </div>
        <span class="data_time">10:12 AM, Today</span>
    </li>
    <li class="right clearfix">
        <div class="message">
            <span>How is the project coming along?</span>
        </div>
        <span class="data_time">10:12 AM, Today</span>
    </li>
    <li class="left clearfix">
        <div class="message">
            <span>Project has been already finished and I have<br> results to show
                you.</span>
        </div>
        <span class="data_time">10:16 AM, Today</span>
    </li>
</ul>