<script src="{{ url_for('static', filename='libscripts.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='vendorscripts.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='sweetalert.min.js') }}"></script>
<script src="{{ url_for('static', filename='mainscripts.bundle.js') }}"></script>
<script>
    $(document).ready(function () {
        // Untuk membuat percakapan baru
        $('#add-conversation').click(function () {
            $.ajax({
                type: 'POST',
                url: '{{ url_for("new_chat") }}',
                success: function (response) {
                    $('#history-list').html(response);
                },
                error: function (xhr, status, error) {
                    alert(response.error);
                }
            });
        });
        
        // Untuk membuka percakapan yang sudah ada
        $('[id^=conversation-]').click(function () {
            var buttonId = $(this).attr('id');
            var conversationId = buttonId.split('-')[1];
            $.ajax({
                type: 'GET',
                url: '/messages/' + conversationId,
                success: function (response) {
                    $('#message_bubble').html(response);
                },
                error: function (xhr, status, error) {
                    alert(response.error);
                }
            });
        });
    });
</script>